#popup {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
  font-style: italic;
}

.popup-success {
  background-color: var(--light-success-color);
}

.popup-error {
  background-color: var(--light-error-color);
}